
#map {
    height: 100%;
    width: 100%;
    border-radius: 12px;
}

.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:900px;
        }

.gmap_canvas {
    overflow:hidden;
    background:none;
    height:500px;
    width:900px;
                }

html,
body {
  background-color: dodgerblue;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* use to make a nice box shadow around the various containers.  = box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
